@use '../SCSS/var';

body{
    display: block;
    font-size: 16px;
    background-color: var.$dark;
}

#card-body{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    width: 50%;
    margin: 100px 0 50px 0;
    transform: scale(2);
        transform-origin: 0 0 0;
    box-sizing: border-box;

    .card{ margin: 4px }
}

.empty-text{
    color: #FFF;
    font-family: var.$montserrat;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main{
    h1{
        font-family: var.$nexa;
        font-size: 1.25em;
        display: flex;
            align-items: center;
        .pkmn-logo{
            font-family: "icon-font";
            font-size: 1.5em;
            margin-right: 4px;
            font-weight: 700;
            transform: translateY(-7px);
        }
        .small{
            font-family: var.$montserrat;
            font-size: .8em;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-left: 4px;
        }
    }
}