@font-face{
    font-family: 'NexaRustSans-Black';
    src: url('../FONTS/NexaRustSans-Black.otf')
}

$nexa: 'NexaRustSans-Black';

$white: #FFF;
$dark: #1C1C3A;
$red: #D11515;

$grass: #539B46;
$poison: #AA6BC8;

.fill-white,.f-w{fill:$white}
.fill-dark,.f-d{fill:$dark}
.stroke-white,.s-w{stroke:$white}
.stroke-dark,.s-d{stroke:$dark}
.stroked{stroke-width:.5}

@mixin w-w-s{
    fill: $white;
    stroke: $white;
    stroke-width: .5;
}

@mixin d-d-s{
    fill: $dark;
    stroke: $dark;
    stroke-width: .5;
}